@{
    ViewData["Title"] = "Dashboard";
}

<div id="MainContainer" class="MainContainerStyle mt-3 container">
    <div id="HeaderContainer" class="mb-1">
        <div class="justify-content-center">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div id="BodyContainer">
        <div class="btn bg-info m-2 card justify-content-center" style="height: 10rem;" onclick="location.href='@Url.Action("MealsMenu", "Home" )'">
            <h3 class="text-dark">Meals</h3>
        </div>
        <div class="btn bg-warning m-2 card justify-content-center" style="height: 10rem;" onclick="#">
            <h3 class="text-dark">Activities</h3>
        </div>
        <div class="btn bg-success m-2 card justify-content-center" style="height: 10rem;" onclick="#">
            <h3 class="text-dark">Holiday</h3>
        </div>
        <div class="btn m-2 card justify-content-center" style="height: 10rem;" onclick="#">
            <h3 class="text-dark">Coming Soon...@ViewData["Message"]</h3>
        </div>
    </div>
</div>
