@model SuperDuperPlannerWanner.Models.Meal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMeal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealTypeId" class="control-label"></label>
                <input asp-for="MealTypeId" class="form-control" />
                <span asp-validation-for="MealTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAmended" class="control-label"></label>
                <input asp-for="DateAmended" class="form-control" />
                <span asp-validation-for="DateAmended" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewMeals">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
